*
# Whitelist directories
!.gitignore
!.travis.yml
!*.xml
!*.yaml
!*.html
!*.js
!*.css
!*.py
!*/
!submodules/**
!custom_components/**
!www/**
!.storage/lovelace*
*.pyc
**__pycache__/
deps/**
secrets.yaml
!*.md

# Ignore Storage, except dashbaord files
.storage/*
!.storage/lovelace*

# Ignore other folders
.cloud
.google.token


# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
known_devices.yaml
Abode/cookies.json
.HA_VERSION
# Ignore logs, and any DB files
*.db*
*.log*
